# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log

# Svelte / SvelteKit
/.svelte-kit
/build
/package

# Vite
/dist

# Tauri
/src-tauri/target
/src-tauri/Cargo.lock
/src-tauri/pnpm-lock.yaml
/src-tauri/dist
/src-tauri/*.log

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
/coverage
/playwright-report
/test-results

# Storybook
/storybook-static

# Production
/dist-ssr
*.local

# Vitest
.vitest

# Output
.output
.vercel
.netlify
.wrangler

# OS
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# SQLite
*.db

# Paraglide
src/lib/paraglide

*storybook.log
